.uploader-container {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.upload-controls {
  justify-content: center; /* 横中央寄せ */
  align-items: center;
  flex-wrap: wrap; /* 画面が狭いとき折り返し */
}

.form-item {
  display: flex;
  align-items: center; /* 縦方向の中央揃え（オプション） */
  gap: 4rem; /* ボタンとフォームの間に少し余白 */
}

.toggle-item {
  margin: 0 auto;
}
