button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.upload-button {
  margin: auto 0;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  height: 36px;
  line-height: 1;
  border: none;
  border-radius: 6px;
  background-color: #4f5bd5;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
