.status-message {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.image-preview {
  margin-top: 2rem;
}

.image-preview img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0;
}
