body {
  margin: 0;
  background-color: #333333; /* サイドの背景色 */
  display: flex;
  justify-content: center;
}

.app-container {
  margin-top: 0;
  width: 100%;
  max-width: 420px; /* スマホ幅を想定 */
  min-height: 100vh;
  background-color: #333333; /* 実際のアプリUIの背景 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* オプションで枠の影 */
}
